@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap');

.open-sans-uniquifier {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: "16px";
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Seudoclase permite comportamiento crool */
:root{
  scroll-behavior: smooth;
}

body{
    font-family: 'open sans', serif;
    color: rgb(10, 10, 10);
    background: rgba(#B8A6A3);
}
.contenedor{
  width: 90%;
  max-width: 1200px;
  /* Para que todo lo que se desborde se oculte  */
  overflow: hidden; 
  /* centrado */
  margin: auto; 
/* espaciado en los elementos */
  padding: 60px 0;
}

header{
  height: 100vh;
  background-image: linear-gradient(to top, rgba(26, 148, 67, 0.192) 0%, rgba(5, 214, 134, 0.192) 99%, rgba(6, 146, 88, 0.164) 100%),
   url(img/Alquiler.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.head{
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(3, 3, 3);
}
.hamburguer {
  position: fixed;

  top: 30px;
  right: 30px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer; 
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu-navegacion a { 
  color: #fff;
  text-decoration: none; /* 👈 Esto quita el subrayado */
}

.menu-navegacion {
position: fixed;
top: 0;
right: 0; 
width: 30vw;
height: 100%;
background-image: linear-gradient(-60deg, #023128 0%, #e9c64997 100%);
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
color: #DCD9D4;
/* transition: transoform 3.s ease-in-out; */
 transform: translate(100%); 
box-shadow: 0 0 6px rgba(11, 11, 11, 0.5);
z-index: 10001;
text-align: center;
text-decoration: none;
}


.spread{
  transform: translate(0);
}

.titulo {
  font-size: 60px; 
  margin-bottom: 15px;
}
.copy {
  font-weight: 300;
  font-size: 25px;
}

/* Nuestro Servicio  */

.subtitulo{
  text-align: center;
  font-weight: 300;
  color: #0759bd;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio{
  display: flex;
  justify-content: space-evenly; 
  /* espacio equitativo eje horizontal */
  align-items: center;
  flex-wrap: wrap;
  /* si en un momento no caben en la misma linea pueda ir hacia abajo */

}
.contenedor-servicio img{ 
  width: 35%;
}
.checklist-servicio{
  width: 45%; 
}

.service{
  margin-bottom: 20px;
}

.n-service{
  margin-bottom: 7px;
  color: #0c7f9b;
}
.number{
  display: inline-block;
  background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
  width: 30px;
  height: 30px;
  color: #0c0c0c;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px; 
  margin-right: 5px;
}
/* GALERIA */

.galery{
  background: #fff;
}
.contenedor-galeria{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-galeria{
  object-fit: cover;
  width: 30%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform .2s ease-in-out; 
}

.show{
  transform: translate(0);
}

.agregar-imagen{
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform .3s .2s;
}

/* Clase extra */
.showImage{
transform: scale(1);
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;

}

/* Expertos  */

.experts{
display: flex;
justify-content: space-evenly; 
align-items: center;
flex-wrap: wrap;
}

.cont-expert{
  width: 30%;
  text-align: center;
  margin-bottom: 20px;  
}

.cont-expert img {
  width: 80%;
  display: block;
  margin:0 auto;
}
.n-expert{
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
}
                                                      
/* Footer  */

  footer {
 background-blend-mode: soft-light,screen;
 background-image: linear-gradient(-60deg, #013d31 0%, #896f05 100%);
    padding-bottom: 0.2px;
    border: 1px solid #0927e7;

  }

  .footer-content{
    display: flex;
    justify-content: space-between;            /* Elementos uno al lado de otro pero en las esquinas */
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contact-us{
    width: 40%;
    color: #fff;

  }

  .brand{
    font-weight: 500;
    font-size: 40px;
  }

  .brand+p{
    font-weight: 500;
  }

  .social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }

  .social-media-icon:hover{
    background: #ffffff;
    color: #2ca4f4; 
  }

  .social-media-icon i{
    font-size: 30px;                    /* Centrar al medio */
    line-height: 60px;
    
  }

  /* no me gusta que queda corta modific */
  /* .line {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      height: 2px;
      background: #fff;
      margin-bottom: 60px;
  } */

  /* Media Query   punto de quiebre a los 800    */
@media screen and (max-width: 800px ) {
  .menu-navegacion{
    width: 50vw;
  }
  .titulo{
    font-size: 40px;

  }
  .contenedor-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }
  .checklist-servicio{
    width: 80%;
  }
  .service{
    margin-bottom: 30px;
  }
  .agregar-imagen{
    width: 80%;
  }
  .img-galeria{
    width: 45%;
  }
  .cont-expert{
    width: 80%;
  }

  .footer-content{
    justify-content: center;
  }
  .social-media{
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media-icon{
    margin-left: 0;
  }
  .social-media i {
    margin-left: 0;
  }
  .contact-us{
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }

}

@media screen and (max-width:500px ){
  .menu-navegacion{
    width: 65vw;
  }

  .hamburguer{
    top: 20px;
    right: 20px;
  }
  .titulo{
    font-size: 30px;
  }
  .subtitulo{
    font-size: 30px;
  }
  .agregar-imagen{
    width: 95%;
  }
  .img-galeria{
    width: 95%;
  }
  .social-media{
    width: 100%;
  }
  .contact-us{
    width: 90%;
  }
}

/* calendario*/ 

@import url(https://fonts.googleapis.com/css?family=Lora);

/*container*/
.container{
  background-image: linear-gradient(-60deg, #013d31 0%, #896f05 100%);
  background-repeat: repeat;
  background-size: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 30px;
  box-shadow: 3px 3px 10px #000;
}

.main h2{
  font-family: 'Berkshire Swash', cursive;
  color: #f7c5d9;
  font-size: 200%;
  text-shadow: 3px 3px 2px #000;
}

/* FORM
.main form{
  background-color: rgba(0,0,0,0.8);
  text-align: left;
  padding: 20px;
  font-size: 1.3em;
  
    
}

/* Form */


.form-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background: #ff4b2b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #ff1e00;

}
